/* Header */
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 20rem;

    background-image: url('../images/header.jpeg');
    background-size: 100%;
    background-position-y: 0%;

    animation: header-scroll 100s linear infinite;
}

@media only screen and (max-width: 500px) {
    .header__container {
        height: 6rem;
    }
}

.header__nav {
    height: 6rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav__container {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
}

.nav__item {
    width: 100%;
    text-align: center;
    width: 15rem;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .nav__container {
        width: 100%;
        justify-content: space-evenly;
    }

    .nav__item {
        width: 10rem;
    }
}

.nav__item {
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__item:active {
    transform: scale(0.9);
}

.nav__item:hover {
    color: rgb(67,207,177);
}

.nav__link {
    display: block;
    height: 100%;
    padding: .8rem 0 .3rem 0;
}

@supports (clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%)) {
    .nav__item:hover::after {
        animation: nav-button-shine .8s cubic-bezier(1, 0, 0, 1);
    }
    
    .nav__item::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background-color: white;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        transform: translateX(-100%);
    }
}

/* Shop */
.shop__container {
    background-image: url('../images/bg.jpeg');
    background-size: cover; 
    min-height: calc(100vh - 20rem);
}

.shop__content {
    padding-top: 2.5rem;
    margin: 0 auto;
    
    width: 90%;

    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .shop__content {
      flex-direction: column;
    } 
} 

@media only screen and (max-width: 400px) {
    .shop__content {
      width: 100%;
      padding-top: 0;
    } 
} 

/* Shop left part */
.shop__left {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: white;
    opacity: 0.95;

    z-index: 10;
}

.items__container {
    padding: 3rem 1rem 2rem 1rem;
}

@supports (flex: 0 1 20%) {
    .items__content {
        display: flex;
        flex-wrap: wrap;
    }
}

.items__item {
    padding: .5rem;
    flex: 0 1 20%;

    transition: all .3s;
    position: relative;

    float: left;
    width: 20%;
}

@media only screen and (max-width: 1700px) {
    .items__item {
        flex: 0 1 25%;

        float: left;
        width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .items__item {
        flex: 0 1 33.33%;

        float: left;
        width: 33.33%;
    }
}

@media only screen and (max-width: 748px) {
    .items__item {
        flex: 0 1 49.99%;

        float: left;
        width: 49.99%;
    }

    .items__item:last-child {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .items__item {
        flex: 0 1 100%;

        float: left;
        width: 100%;
    }

    .items__item:last-child {
        padding-bottom: 2rem;
    }
}

@supports (flex: 0 1 20%) {
    .items__item {
        float: initial;
        width: initial;
    }
}

.items__item:hover {
    transform: scale(1.075);
    z-index: 30;
}

.items__item:hover > .items__edit{
    display: block;
}

.items__edit {
    display: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 3rem;
    width: 3rem;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3.4rem;
    z-index: 40;
    cursor: pointer;
}

.items__edit:active {
    transform: scale(0.9);
}

.items__item--sale::after {
    content: "SALE!";
    position: absolute;
    top: 1rem;
    right: 0;
    height: 4rem;
    width: 10rem;
    padding: 1.2rem 2.8rem;
    color: white;
    background-image: linear-gradient(90deg, rgba(67,207,177,1) 21%, rgba(46,152,81,1) 100%);
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.2);
    z-index: 20;
    transform: rotate(15deg);

    animation: sale-wiggle 10s cubic-bezier(0.075, 0.82, 0.165, 1) 1s infinite;
}

.items__item > div {
    border: 1px solid rgba(192, 189, 189,.5);
    box-shadow: 0 1.5rem 1rem rgba(0,0,0,0.1);
    height: 40rem;
}

.items__figure {
    background-color: rgb(112, 112, 112);

    height: 65%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items__image {
    opacity: 0.8;
    width: 110%;
}

@supports (mix-blend-mode: multiply) {
    .items__figure {
        background-color: rgb(206, 206, 206);
    }

    .items__image {
        mix-blend-mode: multiply;
        opacity: 1;
        width: 100%;
    }
}

.items__details {
    height: 35%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.items__name {
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.items__price-container {
    display: flex;
}

.items__price {
    margin: 0 auto;
    padding: 0 1rem;
}

.items__item > div > div > div > .items__price--sale {
    display: none;
}

.items__item--sale > div > div > div > .items__price--standard {
    order: 0;
    font-weight: normal;
    text-decoration: line-through;
    color: grey;
}

.items__item--sale > div > div > div > .items__price--sale {
    display: block;
}

.items__button {
    letter-spacing: .1rem;
    border: none;
    padding: 1rem 2.5rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.2);
    color: white;
    background-image: linear-gradient(90deg, rgba(67,207,177,1) 21%, rgba(46,152,81,1) 100%);

    position:relative;

    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
} 

.items__button:active {
    transform: scale(0.9);
}

.items__button:hover {
    color: rgba(46,152,81,1);
    background-image: none;
    background-color: white;
}

.items__button:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(46,152,81,1);
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.title__directory {
    padding: 2.5rem 2rem;
}

.title__route {
    display: flex;

    padding: 2.5rem 2rem;
    padding-top: 3rem;
}

.title__link {
    font-size: 1.4rem;
}

.title__link:hover {
    color: rgba(46,152,81,1);
}

.sorting__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(192, 189, 189,.5); 
    border-left: none;
    border-right: none;

    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.sorting__select {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .7rem;
    border: 1px solid rgba(192, 189, 189,.5); 
    outline: none;
    cursor: pointer;
}

/* Shop right part */
.shop__right {
    width: 32rem;
    margin-left: 3rem;

    opacity: 0.95;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
    .shop__right {
        margin-top: 3rem;
        margin-left: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
} 

@media only screen and (max-width: 600px) {
    .shop__right {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    .shop__right {
        padding: 0 2rem;
    }
}

.shop__right > * {
    background-color: white;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
    .aside__box-1 {
        width: 60%;
        margin: 0 auto 3rem auto;
    }

    .aside__box-2, .aside__box-3, .aside__box-4, .aside__box-5{
        width: 48%;
    }
} 

@media only screen and (max-width: 600px) {
    .shop__right > * {
        width: 100%;
    }
}

.aside__input {
    width: 100%;
    height: 3rem;
    background-color: white;
    padding: .7rem 1rem;
    border: 1px solid rgb(192, 189, 189); 
    outline: none;
    font-size: 1.2rem;
    opacity: .65;
}

.aside__title {
    padding-bottom: 1.5rem;
}

.aside__break {
    border:none;
    border-top: 2px dotted black;
    width:100%;
}

.aside__texts-container {
    padding-top: 1.5rem;

    display:flex;
    flex-direction: column;
}

.aside__text {
    padding: .3rem 0;
    cursor: pointer;   

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}

.aside__text:hover {
    color: rgba(46,152,81,1);
}

.admin__container {
    position: fixed;
    bottom: 5%; 
    right: 5%;
    display: flex;
    justify-content: flex-end;
    z-index: 40;
}

.admin__new-item {
    background-image: url('../images/new-item.jpeg');
    background-size: cover;

    background-position-y: 100%;
    border: 2px solid white;
    color: white;

    width: 20rem;
    height: 6rem;
    
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 500;

    text-align: center;
    line-height: 6rem;

    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

    position: relative;

}

.admin__new-item:active {
    transform: scale(0.9);
}

@media only screen and (min-width: 601px) {
    .items__item:hover ~ .admin__container > .admin__new-item {
        background-position-y: 0%;
        border: 2px solid black;
        color: black;
    }
}

@media only screen and (max-width: 600px) {
    .admin__new-item {
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        line-height: 3rem;
    }

    .admin__new-item::after {
        content: "+";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        font-size: 3rem;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        line-height: 5.5rem;
        background-image: linear-gradient(90deg, rgba(67,207,177,1) 21%, rgba(46,152,81,1) 100%);
    }
}