html {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 62.5%; 
}

@media only screen and (max-width: 1000px) {
    html {
      font-size: 56.25%; /* 9px */
    } 
}

@media only screen and (max-width: 600px) {
    html {
      font-size: 50%; /* 8px */
    } 
} 

@media only screen and (max-width: 400px) {
    html {
      font-size: 46.875%; /* 7.5px */    
    } 
} 

/* Basic reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h2 {
    font-size: 3.2rem;
    font-weight: 400;
}

label {
    font-size: 1.6rem;
}

select, option {
    font-size: 1.2rem !important;
}

a, p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    a, p {
        font-size: 1.4rem;
    }
} 

a {
    text-decoration: none;
    color: inherit;
}

