/* Header */
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 20rem;
    background-color: rgb(20,20,20);
}

.header__nav {
    height: 6rem;
    background-color: black
}

/* Shop */
.shop__outer {
    display: flex;
    justify-content: center;

    background-image: url('../images/bg.jpeg');
    background-size: cover; 
}

.shop__inner {
    margin-top: 2.5rem;
    width: 90%;

    position: relative;
}

@supports (display: grid) {
    .shop__inner {
        position: initial;
    }
}

/* Shop left part */
.shop__left {
    display: flex;
    flex-direction: column;

    background-color: white;

    float: left;
    width: 73%;
    height: 100%;
}

@supports (display: grid) {
    .shop__left {
        float: initial;
        width: initial;
        height: initial;
    }
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.title__directory {
    padding: 2.5rem 2rem;
}

.title__route {
    display: flex;

    padding: 2.5rem 2rem;
    padding-top: 3rem;
}


.sorting__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(192, 189, 189,.5); 
    border-left: none;
    border-right: none;

    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.sorting__select {
    padding: .7rem;
    padding-right: 7rem;
    border: 1px solid rgba(192, 189, 189,.5); 
    outline: none;
}

.items__container {
    padding: 3.5rem 2rem;
    padding-bottom: 0;
    flex-grow: 1;
}

.items__item {
    border: 1px solid rgba(192, 189, 189,.5);

    float: left;
    width: 24%;
    height: 48%;
    margin: 1% .5% 0 .5%;
}

@supports (display: grid) {
    .items__item {
        float: initial;
        width: initial;
        height: initial;
        margin: 0;
    }
}

.items__figure {
    background-color: rgb(242,240,240);
    min-height: 50%;
    height: 65%;
}

/* Shop right part */
.shop__right {
    float: left;
    width: 25%;
    margin-left: 2%;
}

@supports (display: grid) {
    .shop__right {
        float: initial;
        width: initial;
        margin-left: initial;
    }
}

.shop__right > * {
    background-color: white;
    margin-bottom: 3rem;
}

.aside__box-1 {
    height: 8rem;
}

.aside__box-2, .aside__box-3 {
    height: 20rem;
}

.aside__box-4, .aside__box-5 {
    height: 15rem;
}

.aside__box-5 {
    margin-bottom: 0;
}

@supports (display: grid) {
    .shop__right > * {
        margin: 0;
        height: initial;
    }
}

