/* Header */
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 20rem;
    background-color: rgb(20,20,20);
}

@media only screen and (max-width: 400px) {
    .header__container {
        height: 6rem;
    }
}

.header__nav {
    height: 6rem;
    background-color: black
}

/* Shop */
.shop__container {
    background-image: url('../images/bg.jpeg');
    background-size: cover; 
}

.shop__content {
    padding-top: 2.5rem;
    margin: 0 auto;
    
    width: 90%;

    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .shop__content {
      flex-direction: column;
    } 
} 

@media only screen and (max-width: 400px) {
    .shop__content {
      width: 100%;
      padding-top: 0;
    } 
} 

/* Shop left part */
.shop__left {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: white;
}

.items__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* flex-start */
    height: 100%;

    padding: 3.5rem 2rem;
    padding-bottom: 1rem;
}

.items__item {
    border: 1px solid rgba(192, 189, 189,.5);
    height: 40rem;
    width: 28rem;
    /* flex-grow: 1; */
    margin: 1rem;
}

.items__figure {
    background-color: rgb(242,240,240);
    min-height: 50%;
    height: 65%;
}


.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.title__directory {
    padding: 2.5rem 2rem;
}

.title__route {
    display: flex;

    padding: 2.5rem 2rem;
    padding-top: 3rem;
}

.sorting__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(192, 189, 189,.5); 
    border-left: none;
    border-right: none;

    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.sorting__select {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .7rem;
    border: 1px solid rgba(192, 189, 189,.5); 
    outline: none;
}

/* Shop right part */
.shop__right {
    width: 32rem;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
    .shop__right {
        margin-top: 5rem;
        margin-left: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
} 

@media only screen and (max-width: 600px) {
    .shop__right {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}



.shop__right > * {
    background-color: white;
    margin-bottom: 3rem;
}

.aside__box-1 {
    height: 8rem;
}

.aside__box-2, .aside__box-3 {
    height: 20rem;
}

.aside__box-4, .aside__box-5 { 
    height: 15rem;
}

.aside__box-5 {
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .aside__box-1 {
        width: 60%;
        margin: 0 auto 3rem auto;
    }

    .aside__box-2, .aside__box-3{
        width: 48%;
    }

    .aside__box-4, .aside__box-5 {
        width: 48%;
        margin-bottom: 0;
    }
} 

@media only screen and (max-width: 600px) {
    .shop__right > * {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .shop__right > * {
        width: 95%;
    }
}